# <!-- @echo name -->

<!-- @echo description -->

## example HTML markup

- See example.html for an example of the markup you need to use with the styles.
- The example's markup is adpated for use with picturefill.js, however, it works without it as well.


### Install

```Shell
component install techjacker/<!-- @echo name -->
```
